/vendor/
/node_modules/
/npm-debug.log
/yarn-error.log
/.env
/.env.backup
/.env.production
/.phpunit.result.cache
/coverage/
/storage/*.key
/storage/app/private/
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
/public/hot
/public/storage
/public/build
/.idea/
.vscode/
*.log
*.sqlite
*.sqlite3
.DS_Store
Thumbs.db
